* , body {
  background-color: #d3d3d3;
  margin: 0;
}

.mainBox {
  background-color: lightgrey;
  /* border: 5px solid black; */
  margin: 50px;
  /* width: 700px; */
}

.row {
  padding-left: 20px;
  display: flex;
  margin-bottom: 7px;
}

.elements-left {
  /* padding-right: 50px;
  padding-left: 15px; */
  padding: 10px 100px 10px 15px;
  border-left: 2px solid #f3f4f7;
}

.elements-right {
  /* padding-right: 30px;
  padding-left: 20px; */
  padding: 10px 30px 10px 15px;
  margin-right: 5px;
  background-color: white;
  width: 100px;
}

.cursorPointor{
  cursor: pointer;
}

.commad-runs{
  background-color: white;
  width: 458px;
  margin-left: -46px;
  border-color: white;

}